@font-face {
  font-family: 'PPFraktionMono';
  src: local('PPFraktionMono'), url(../../fonts/PPFraktionMono-Regular.otf) format('opentype');
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 20px 20px 35px 20px;
  height: 26vh;
  width: 100vw;
  background-color: #181819;
  @media (min-width: 1020px)  {
    padding: 10px 0 0 50px;
    border-top: 1px solid rgba(159, 158, 158, 0.24);
  }  
  &__container {
          display: flex;
          align-items: center;
          justify-content: space-between;

          @media (max-width: 420px)  {
            display: flex;
            flex-direction: column;
          }
        }
        // @media (min-width: 1040px) {
        //   padding-bottom: 30px;
        // }
        &__cta {
          display: flex;
          flex-direction: column;
          @media (max-width: 420px)  {
            padding-left: 50px;
          }
          @media (min-width: 1040px) and (max-width: 1380px)  {
            position: absolute;
            width: 532px;
            height: 44px;
            left: 64px;
            top: 575px;
          }
          @media (min-width: 1380px)  {
            position: absolute;
            width: 532px;
            height: 44px;
            left: 64px;
            top: 625px;
          }
    
          &__text {
            font-family: PPFraktionMono;
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 0.2px;
            color: #9F9E9E;
          }
        }
        &__blur {
          // position: absolute;
          // width: 209px;
          // height: 206px;
          // left: 1200px;
          // top: 520px;
          // background: #FFD600;
          // filter: blur(145.824px);
          @media (max-width: 1040px)  {
           display: none;
          }
        }
        &__button {
          font-family: PPFraktionMono;
          padding: 10px 60px;
          font-size: 16px;
          line-height: 20px;
          background-color: #ffffff;
          color: #000000;
          font-weight: bold;
          border-radius: 10px;

          @media (max-width: 420px)  {
            margin-top: 20px;
          }
          @media (min-width: 1040px) and (max-width: 1300px)  {
            position: absolute;
            width: 267px;
            height: 40px;
            left: 920px;
            top: 580px;
           }
           @media (min-width: 1300px) and (max-width: 1380px)  {
            position: absolute;
            width: 267px;
            height: 40px;
            left: 1000px;
            top: 580px;
           }
           @media (min-width: 1380px) and (max-width: 1445px) {
            position: absolute;
            width: 267px;
            height: 40px;
            left: 1109px;
            top: 614px;
           }
           @media (min-width: 1445px) and (min-height: 735px){
            position: absolute;
            width: 267px;
            height: 40px;
            left: 1109px;
            top: 634px;
           }
        }
}

