
@font-face {
  font-family: 'PPFormula';
  src: local('PPFormula'), url(../../../fonts/PPFormula-NarrowRegular.otf) format('opentype');
}

@font-face {
  font-family: 'PPFraktionMono';
  src: local('PPFraktionMono'), url(../../../fonts/PPFraktionMono-Regular.otf) format('opentype');
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.contactUs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #181819;
  padding: 20px 20px 30px;
  height: 64vh;
  width: 100vw;
  max-width: 100%;

  @media (min-width: 1280px)  {
    padding-top: 20px;
  }

  @media (min-width: 1020px) and (max-width: 1290px) {
    padding-bottom: 10px;
    // height: 63vh;
  }
  
  &__text {
    font-family: PPFraktionMono;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    font-size: 14px;
    line-height: 21px;
    color: #717171;
    padding: 0 50px;
    margin-bottom: 20px;
    margin-left: 0;

    @media (min-width: 1040px)  {
      position: absolute;
      // width: 306px;
      height: 16px;
      left: 20px;
      top: 128px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__container {
    font-family: PPFormula;
    font-size: 88px;
    line-height: 96px;
    letter-spacing: -0.04em;
    background: linear-gradient(118.26deg, #FFFFFF 32.52%, rgba(212, 209, 205, 0) 149.98%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-transform: uppercase;
    // padding-left: 50px;
    @media (max-width: 370px) {
     font-size: 12px;
     
    }
    @media (min-width: 370px) and (max-width: 1040px)  {
      font-size: 48px;
      line-height: 53px;
      width: 100%;
    }

    @media(min-width: 1040px) {
      position: absolute;
      width: 1168px;
      height: 286px;
      left: 62px;
      top: 200px;
    }
    @media (min-width: 1040px) and (max-width: 1280px) {
      font-size: 82px;
      line-height: 86px;
      width: 100%;
      overflow: hidden;
    }
  }
  &__serverless {
    background: linear-gradient(90deg, rgba(248, 155, 102, 0.2) 0%, rgba(253, 239, 94, 0) 95.83%);
    display: inline-block;

    @media (min-width: 1040px) {
    height: 85px;
    }

    &:before {
      content: "";
      width: 4px;
      height: 80px;
      background: #E46F47;;
      display: inline-block;
      animation: cursor-blink 1.5s steps(2) infinite;

      @media (max-width: 600px)  {
        height: 30px;
      }
      @media (min-width: 600px)and (max-width: 1040px)  {
        height: 40px;
      }
    }
  }
  &__main {
    @media (max-width: 370px) {
      font-size: 32px;
      line-height: 36px;
    }
      @media (min-width:370px) and (max-width: 420px) {
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 53px;
      letter-spacing: -0.04em;
      text-transform: uppercase;
      }
  }
}